aside {
    height: auto;
}

main {
    padding-left: 75px;
}

a {
    text-decoration: none;
    color: #EDF2EF;
}

.main-stat {
    position: relative;
    box-sizing: border-box;
    width: 800px;
    height: auto;
    min-height: 300px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(28, 28, 28, .5);

    margin: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.main-stat-header {
    font-family: Cantarell, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #EDF2EF;
    padding-bottom: 10px;
}

.main-stat-el {
    font-family: Roboto, sans-serif;
    color: #EDF2EF;
    padding-top: 5px;
    padding-left: 10px;
}

.main-stat-get-button {
    position: absolute;
    left: 0;
    bottom: 0;

    font-family: Roboto, sans-serif;
    font-size: 20px;

    color: #EDF2EF;
    background-color: #202020;

    padding: 10px 20px;
    border-radius: 0 10px 0 10px;
    cursor: pointer;
    transition: .5s;

    box-sizing: border-box;
}

.main-stat-get-button:hover {
    background-color: #282828;
}

.main-stat-clear-button {
    position: absolute;
    right: 0;
    bottom: 0;

    font-family: Roboto, sans-serif;
    font-size: 20px;

    color: #EDF2EF;
    background-color: #202020;

    padding: 10px 20px;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    transition: .5s;
}

.main-stat-clear-button {
    background-color: #282828;
}