main {
    padding-bottom: 20px;
}

.main-image-div {
    width: 100%;

    display: flex;
    justify-content: center;
}

.main-image {
    max-width: 90%;
    max-height: 600px;
    overflow: scroll;
    border-radius: 10px;
    margin: 20px;
}


.image-link {
    display: flex;
    justify-content: space-between;

    width: 400px;
    height: 2em;
    margin-left: 50px;
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.2);
}

.image-link-text {
    font-family: "Roboto Thin", sans-serif;
    color: #EDF2EF;
    line-height: 2em;
    padding-left: 10px;
    margin-right: 20px;
}

.image-link-button {
    width: 50px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: rgba(32, 32, 32, 0.8);
    color: #EDF2EF;
    cursor: pointer;
}


.image-timestamp {
    font-family: "Roboto Light", sans-serif;
    color: #EDF2EF;
    padding-top: 10px;
    padding-left: 50px;
    line-height: 2em;
}

.delete-image {
    font-family: "Roboto Light", sans-serif;
    color: #EDF2EF;
    width: 150px;
    height: 3em;
    line-height: 3em;
    text-align: center;
    background-color: #e80909;
    box-shadow: 0 0 10px rgba(178, 7, 7, 0.5);
    cursor: pointer;
    border-radius: 10px;

    margin: 20px 50px;
}

.delete-image {
    background-color: #b20707;
    box-shadow: 0 0 10px rgba(178, 7, 7, 0.5);
}

@media (max-width: 1000px) {
    .header-items {
        width: 50%;
    }

    .main-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 700px) {
    .header-items {
        width: 100%;
    }

    .sub-header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-image {
        max-width: 70%;
    }
}

@media (max-width: 485px) {
    .image-link {
        width: 300px;
    }
}