<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImageBank - Index page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/index_styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<header id="header">
    <div class="header-items">
        <a href="{{ content_data['header_links'][0] }}"><h3 class="header-item">{{ content_data['headers'][0] }}</h3>
        </a>
        <a href="{{ content_data['header_links'][1] }}"><h3 class="header-item">{{ content_data['headers'][1] }}</h3>
        </a>
    </div>
</header>
<main>
    <h1 class="main-header">ImageBank - direct links to images</h1>
    <form action="add/image" class="image-form" id="image-form" method="post" enctype="multipart/form-data">
        <label class="input-file">
            <input type="file" name="image" id="image">
            <span id="image-text">Load image</span>
        </label>
    </form>
    <h3 class="sub-header">fast and convenient image server for your website</h3>
</main>
<script>
    let image_output = document.getElementById('image-text');
    const image = document.getElementById('image');

    image.addEventListener('change', (event) => {
        const files = event.target.files;
        image_output.textContent = '';

        for (const file of files) {
            image_output.textContent = file.name;
        }
        document.forms["image-form"].submit()
    })
</script>
</body>
</html>