<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImageBank - Image {{ image.id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image_manager_styles.css') }}">
</head>
<body>
<header id="header">
    <div class="header-items">
        <a href="/"><h3 class="header-item">Index page</h3></a>
        <a href="{{ content_data['header_links'][0] }}"><h3 class="header-item">{{ content_data['headers'][0] }}</h3>
        </a>
        <a href="{{ content_data['header_links'][1] }}"><h3 class="header-item">{{ content_data['headers'][1] }}</h3>
        </a>
    </div>
</header>
<main>
    <div class="main-image-div">
        <img src="/img/{{ image.id }}" class="main-image" alt="image">
    </div>
    <div class="left">
        <div class="image-link">
            <p class="image-link-text">http://127.0.0.1:5000/img/{{ image.id }}</p>
            <button class="image-link-button">Copy!</button>

        </div>
        <p class="image-timestamp">Post time stamp: {{ image.time_stamp.strftime("%Y-%m-%d %H:%M") }}</p>
    </div>
    {% if your_image %}
    <a href="/image/delete/{{ image.id }}">
        <div class="delete-image">Delete image</div>
    </a>
    {% endif %}
</main>
</body>
</html>